# compiled output
/dist/
/declarations/

# dependencies
/node_modules/

# misc
/.env*
/.pnp*
/.eslintcache
/coverage/
/npm-debug.log*
/testem.log
/yarn-error.log

# broccoli-debug
/DEBUG/
public/assets/nutrient-viewer-lib
public/assets/index.d.ts
public/assets/nutrient-viewer.js
